{% extends "base.html" %}

{% block css_file %}
<link rel="stylesheet" href="static/css/addProduct.css">
{% endblock %}

{% block title %}Add Product{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="product-box">

        <div class="product-info">
            <p>Image: </p>
            <input type="file" id="image" name="image" />

            <p>Product Name: </p>
            <input id="productName" type="text" name="productName"/>

            <p>Amount: </p>
            <input id="amount" type="number" name="amount" min="1"/>

            <p>Location: </p>
            <input type="text" id="location" name="location"/><br>
        </div>

        <div class="buttons">
            <div class="actionbutton">
                <input type="submit" value="Add Product"/>
            </div>
        </div>
    </div>
</form>
{% endblock %}
